*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 30px 40px;
    width: 100%;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    margin-left: 10px;
}
#intro{
    height: 42%;
    width: 100%;
    padding: 40px;
}
#intro h1{
    font-size: 100px;
    line-height: 100px;
}
#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
#info h3{
    font-size: 20px;
    font-weight: 600;
}
#hero-image{
    height: 70%;
    width: 100%;
    background-image: url(https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/53429/article_full%403x.jpg);
    background-size: cover;
    margin-bottom: 40px;
}
#bio{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
#bio h2{
    width: 60%;
    padding: 40px;
    font-size: 65px;
}
#bio2{
    /* background-color: red;   */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    padding: 0 40px;
    border-left: 2px solid #000;
}
#bio2 h3, i{
    font-size: xx-large;
}
#bio2-icons i{
    background-color: black;
    color: white;
    padding: 8px;
    margin-right: 10px;
    border-radius: 50px;
}
#work{
    height: 50%;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    padding: 50px 40px;
}
#work1{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}
#work1 h3{
    font-size: 30px;
}
#work1 i{
    font-size: 30px;
}
#work2{
    height: 100%;
    width: 60%;
    padding: 0 60px;
    border-left: 2px solid #000;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 ;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid #000;
    padding-top: 0;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
    padding-right: 50px;
}
.work2-part .elem:nth-child(2){
    padding-left: 60px;
}
.work2-part .elem h4{
    font-size: 30px;
}
.work2-part .elem p{
    font-size: 15px;
    color: grey;
}